<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creatine.socialite"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Holo.Theme.Sherlock.Light.DarkActionBar" >
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Status"
            android:label="@string/menu_post"
            android:theme="@style/Theme.Sherlock.Light.Dialog"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustResize" >"
            <intent-filter>
                <action android:name="android.intent.action.STATUS" />
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FBPost"
            android:label="@string/menu_post" >
            <intent-filter>
                <action android:name="android.intent.action.FBPOST" />
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
    </application>

</manifest>